#!/usr/bin/make -f

%:
	dh $@ --buildsystem=meson

override_dh_auto_configure:
	dh_auto_configure -- -Dlibghostty=enabled -Dxvfb-tests=enabled -Dman=enabled \
		-Drelease-version="$(REVENANT_RELEASE_VERSION)"

override_dh_auto_test:
	dh_auto_test
	tools/check-release-tests obj-*
